# nix
.*
!.gitignore
*~

# svn
.svn/

# mercurial
/.hg/*
*/.hg/*
.hgignore

# archives
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma

#packing-only formats
*.iso
*.tar

#package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# $HOME files
*~
/.zcompdump
/.ssh
/.histfile
/.Xauthority
/.dbus
/.mc
/.srecode
/.gconfd
/.cache
/.bash_history
/.bash_stuff/aliases/sfs
/.lesshst
/.slime
/.gconf
/.lftp/bookmarks
/.links
/.semanticdb
/.local
/.mozilla
/graphics
/.slime-history.eld
/bsuir/info
/documents
/downloads
/Music
/Wallpapers
/Video
/Dropbox
/.gqview
/.easytag
/.dropbox
/.fontconfig
/.gimp-2.6
/Documents/
/Downloads/
/.ido.last
/.mc/history
/.mc/panels.ini
/.macromedia
/quicklisp
/.fonts
/.conkeror.mozdev.org
/.lein
/.m2
/.java_history
/.jline-clojure.main.history
/.adobe/
/.android/
/.claws-mail/
/.config/
/.gem/
/.gitk
/.irb_history
/.gstreamer-0.10/
/.mysql_history
/.recentf
/.recently-used
/.surf/
/.thumbnails/
/.irssi/
/.xscreensaver-getimage.cache
/.viminfo
/Mail
/News
/quicklisp.lisp
/.rdebug_hist
/.pry_history
/.pki
/.gnupg
/.ICEauthority
/Pictures
/p/work/*
/.java
/.spamassassin
/mindterm
/.rightscale
/.cassandra.history
/.VirtualBox
/.moc
/.thunderbird
/.wine
/VirtualBox VMs
/.pentadactyl
/.wicd
/.opera
/.dbshell
/.gimp-2.8
/.stepmania-5.0
/.ncmpcpp
/.texlive
/.npm
/.davfs2/secrets
/.davfs2/cache
/.vim/.netrwhist
/.OGStudio
/sent
/.freetalk
/.netrc
/.subversion
/.vimgolf
/.frozen-bubble
/.lyrics
/Ydisk
/.gtk-bookmarks
/.icedtea

