@namespace url(http://www.w3.org/1999/xhtml);

body, #overlay-top, #overlay-bottom, #description-container, #breakout-container, #video_search_term, div.section, div.tab-header, div.bg-gray, div.fluid{
	background:#232323 !important;
        h1, h2, h3, h4, h5 { color: #007700 !important }
}



#overlay-top, #overlay-bottom{
	opacity:1 !important;
}

a.show-title, .show-title a, a.utility-link, .video-info a, .page li a, .more-show-container a, .search-suggestion a, .search-show a, a.top-ten-shows-link, .maintenance a, .profile-link-small, table.vex tr.more td, div.vsl span.add-me a, ul.pages li.page-num, div.mod ul li, span.login-status a, ul.nojs li a, div.flf a.signup, #video_search_term{
color:#777777 !important;
}

#home a img, #tv a img, #movies a img{
	opacity:0;
}

#home{
	background-image:url(http://jeffcarr.info/files/linked/hulu.com/hulu-logo-dark.png) !important;
	background-repeat:no-repeat !important;
}

#tv{
	background-image:url(http://jeffcarr.info/files/linked/hulu.com/hulu-tab-tv-hover-dark.png) !important;
	background-repeat:no-repeat !important;
}

#movies{
	background-image:url(http://jeffcarr.info/files/linked/hulu.com/hulu-tab-movies-hover-dark.png) !important;
	background-repeat:no-repeat !important;
}

